<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
</head>
<body>
<div id="app">
    <section id="section-title">
        <h1>Travel App</h1>
    </section>
    <section id="section-city">
        <label for="city">Destination city</label>
        <input type="text" id="city" placeholder="enter city name here">
    </section>
    <section id="section-date">
        <label for="date">Trip Date</label>
        <input class="myInput" type="date" id="date" placeholder="Enter your date here"/>
    </section>
    <section id="section-create">
        <button id="generate" type="submit">Create trip</button>
    </section>
    <section id="section-trips">
        <h2>Planned trips:</h2>
        <div id="entryHolder">
        </div>
    </section>
</div>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>